<h1>Create a New Dose</h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
<% if @dose.errors.any? %>
<div class="errors-container">
  <ul>
    <% @dose.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.association :ingredient %>
<%= f.input :quantity %>
<%= f.input :description %>
<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>

<%= link_to "Back to cocktail", cocktail_path(@cocktail), :class => 'btn btn-warning'%>
